body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: hidden;
    background-color: red;
    font-size: large;
    color: white;
    height: 25px;
}

.red-bkg {
    background-color: red;
}

@media screen and (mix-width: 800px) {
    body {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
    }
    .class {
        text-align: center;
    }
}